{% extends "pfitness/layout.html" %}
{% load static %}

{% block title %}
    My exercises
{% endblock %}

{% block token %}
    {% csrf_token %}
{% endblock %}


{% block body %}
<div class="container text-center">
    <h2>My exercises:</h2>
</div>

<div class="container">
    {% if exercises %}
    <ul class="list-group" id="notelist">
        {% for ex in exercises %}
            <div class="mb-4 p-4"style="border:thin solid; border-radius: 25px;" id="record" data-name="{{ex.name}}">
                <text>
                    {{ex.name}}
                    <br>
                    {{ex.level}}
                </text>
            </div>
        {% endfor %}
    </ul>
    {% else %}
    <div class="container text-center">
        <h3>Your exercise list is empty! If you want to add some click the button down!</h3>
        <a href="{% url 'exercises' %}" class="btn btn-success"  role="button">View exercises!</a>
    </div>
    {% endif %}
</div>


{% endblock %}

{% block script %}
    <script src="{% static 'pfitness/myExercises.js' %}"></script>
{% endblock %}