{% extends "pfitness/layout.html" %}

{% load static %}
{% block title %}
    {{exercise.name}}
{% endblock %}

{% block token %}
    {% csrf_token %}
{% endblock %}

{% block body %}
<div class="container">
    <h2>{{exercise.name}}:</h2>
</div>

<div class="container">
    <p>Description: {{exercise.description}}</p>
    <p>Level: {{exercise.level}}</p>
    <p>Sets: {{exercise.sets}}</p>
    <p>Reps: {{exercise.reps}}</p>
    <p>Body part: {{exercise.body_part}}</p>
</div>
<div class="container">
{% if check %}
    <button type="button" class="btn btn-danger mb-4" id="listbtn" data-action="remove" data-pk="{{exercise.pk}}">Remove from your exercises</button>
{% else %}
    <button type="button" class="btn btn-success mb-4" id="listbtn" data-action="add" data-pk="{{exercise.pk}}">Add to your exercises</button>  
{% endif %}
    <br>
    <a href="{% url 'exercises' %}" class="btn btn-primary btn-lg " tabindex="-1" role="button" aria-disabled="true">Go back to exercises</a>
    <a href="{% url 'exercise_list' %}" class="btn btn-primary btn-lg " tabindex="-1" role="button" aria-disabled="true">Go back to your exercises</a>
</div>
{% endblock %}


{% block script %}
    <script src="{% static 'pfitness/exercise.js' %}"></script>
{% endblock %}