{% extends "pfitness/layout.html" %}

{% load static %}

{% block title %}
    Excercises
{% endblock %}

{% block body %}
<h2 style="text-align:center;">Choose what excercises to view:</h2>
<label hidden id="userlevel">{{user.workout_type}}</label>
<div class="container">
    <div class="container" style="margin-bottom:20px;">
        <button type="button" class="btn btn-light" id="type" data-type="cardio">Cardio</button>
        <button type="button" class="btn btn-light" id="type" data-type="bodybuilding">Bodybuilding</button>
        <button type="button" class="btn btn-light" id="type" data-type="strength">Strength</button>
    </div>
</div>
<div class="spinner-border text-success" id="loader" role="status">
    <span class="visually-hidden"></span>
</div>
<div class="container" id="exlist">
    
</div>
{% endblock %}


{% block script %}
    <script src="{% static 'pfitness/exercises.js' %}"></script>
{% endblock %}
