{% extends "pfitness/layout.html" %}

{% block title %}
    Foods
{% endblock %}
{% block body %}
<div class="container text-center">
    <h2>Sources of {{type}}</h2>
    <h3>Nutriton facts per 100g:</h3>
</div>
<div class="container">
    {% for food in foods %}
    <div class="d-flex justify-content-center mb-4">
        <div class="d-block p-2 bg-primary text-white" style="width: 250px;">
            {{food}}
            <br>
            calories: {{food.calories}} kcal
            <br>
            {{food.type}}: {{food.amount}}g
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}