{% extends "pfitness/layout.html" %}

{% load static %}

{% block title %}
    Foods
{% endblock %}

{% block body %}
<div class="container text-center">
    <h3>Nutriton facts per 100g:</h3>
</div>

<div class="container text-center">
    <div class="container mb-4">
        <button type="button" class="btn btn-light" id="type" data-type="protein">Protein</button>
        <button type="button" class="btn btn-light" id="type" data-type="carb">Carbs</button>
        <button type="button" class="btn btn-light" id="type" data-type="fat">Fat</button>
    </div>
</div>

<div class="spinner-border text-success" id="loader" role="status">
    <span class="visually-hidden"></span>
</div>

<div class="container" id="foodlist">
</div>
{% endblock %}


{% block script %}
    <script src="{% static 'pfitness/foods.js' %}"></script>
{% endblock %}
