{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Pfitness{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'pfitness/styles.css' %}" rel="stylesheet">
        <script src="{% static 'pfitness/layout.js' %}"></script>
        {% block token %}
        {% endblock %}
    </head>
    <body>
        <div id="navigation">
            <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">
                <div class="container-fluid">
                  <a class="navbar-brand" href="{% url 'index' %}">PFitness</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      {% if user.is_authenticated %}
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'homepage' %}">Home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'profile' %}">Profile</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link active" href="{% url 'programs' %}">Programs</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link active" href="{% url 'exercise_list' %}">My exercises</a>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Tools
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <li><a class="dropdown-item" href="{% url 'notebook' %}">Notebook</a></li>
                          <li><a class="dropdown-item" href="{% url 'calculators' %}">Calculators</a></li>
                          <li><a class="dropdown-item" href="{% url 'exercises' %}">Exercises</a></li>
                        </ul>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Food picker
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <li><a class="dropdown-item" href="{% url 'foods' 'protein' %}">Protein</a></li>
                          <li><a class="dropdown-item" href="{% url 'foods' 'carb' %}">Carbs</a></li>
                          <li><a class="dropdown-item" href="{% url 'foods' 'fat' %}">Fat</a></li>
                        </ul>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'logout' %}">Log out</a>
                      </li>
                      {% else %}
                      <li class="nav-item">
                        <a class="nav-link active" href="{% url 'programs' %}">Programs</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link active" href="{% url 'login' %}">Log in</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link active" href="{% url 'register' %}">Register</a>
                      </li>
                      {% endif %}
                  </div>
                </div>
                <div class="nav-item">
                  <ul class="nav navbar-nav navbar-right">
                      <li><button id="modes">🌙</button></li>
                  </ul>
                </div>
              </nav>
        </div>
        <div class="container" id="mainblock">
            {% block body %}
            {% endblock %}
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        {% block script %}
        {% endblock %}
    </body>
</html>