{% extends "pfitness/layout.html" %}


{% block body %}
<form action="{% url 'register' %}" method="post">
  {% csrf_token %}
  <div class="mb-3">
    <label for="usernameinput" class="form-label">Username</label>
    <input type="text" class="form-control" id="usernameinput" name="username" autocomplete="off">
  </div>
  <div class="mb-3">
    <label for="emailinput" class="form-label">Email</label>
    <input type="email" class="form-control" id="emailinput" name="email" aria-describedby="emailHelp" autocomplete="off">
  </div>
  <div class="mb-3">
    <label for="passwordinput" class="form-label">Password</label>
    <input type="password" class="form-control" id="passwordinput" name="password">
  </div>
  <div class="mb-3">
      <label for="passwordinput" class="form-label">Repeat password</label>
      <input type="password" class="form-control" id="passwordinput" name="passwordcheck">
  </div>
  <button type="submit" class="btn btn-primary">Register</button>
</form>
{% if error %}
  <h3>{{error}}</h3>
{% endif %}
{% endblock %}