body {
    background-color:rgb(21, 32, 43);
    color: white;
}

#navbar {
    background-color: rgb(0, 204, 204) !important;
}

#mainblock {
    margin-top: 90px;
}

.program, .calc {
    display: none;
}

.form-control {
    width:550px;
}

#modes {
    background-color:#0a0a23;
    outline: inherit;
}

#weight, #pweight {
    width:550px;
}

.list-group-item {
    color:black;
    margin-bottom: 10px;
}